.detailbutton {
  background-color: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  color: #069;
}

.datagriddiv {
  height: 400px;
  width: "100%";
}

.datagridheader {
  font-weight: bold;
  color: black;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle {
}

.datagrid {
}

.errorMessage {
  color: red;
}
