.addbutton {
  background-color: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px;
  color: #069;
}
.datagridbox {
  width: "100%";
}

.productdetail {
  padding: 10px;
}
