.button {
  background-color: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px;
  color: #069;
}
.propertytable {
  padding: 10px;
}

.errorMessage {
  color: red;
}
